* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.btn-view {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  font-family: proxima-nova, sans-serif;
  background-color: #33333a;
  border: transparent;
  width: 180px;
  height: 50px;
  cursor: pointer;
  opacity: 0;
  color: #fff;
  transition: opacity 0.4s ease-in-out;
}
.small-img {
  width: 68px !important;
  height: 68px !important;
  margin-top: 1rem !important;
  border: 1px solid #dedede !important;
  transition: all 0.4s;
  padding: 5px;
}

.small-img:hover {
  cursor: pointer;
  background-color: #dedede !important;
}

.main-image-holder {
  width: 100%;
  height: 610px;
}

.main-img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 3rem;
}

.product-info {
  margin-top: 2rem;
}

.product-title {
  font-size: 24px;
  font-family: 'VLnewParis';
}

.product-price {
  font-family: proxima-nova, sans-serif;
  font-size: 24px;
  color: #ff6008;
  font-weight: 500;
}

.product-price::before {
  content: '$';
  margin-right: 3px;
}

.rating-value {
  font-size: 12px;
  font-family: proxima-nova, sans-serif;
  color: #666666;
  margin-left: 3rem;
  width: fit-content;
}

.product-description-details {
  margin-top: 1rem;
  font-size: 14px;
  font-family: proxima-nova, sans-serif;
  color: #666666;
}

.product-images {
  flex-direction: column;
}

.modal-main-title {
  font-family: 'VLnewParis', sans-serif;
}

@media (max-width: 992px) {
  .product-images {
    flex-direction: row;
  }

  .rating-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rating-value {
    font-size: 14px;
  }
}

.page-link {
  text-decoration: none !important;
  color: #fff !important;
}
