.bannerCardImage {
  margin-top: 3rem;
}

@media screen and (max-width: 662px) {
  .imageHolder {
    height: 263px;
    width: 263px;
  }
}

@media screen and (min-width: 993px) {
  .imageHolder {
    height: 100%;
  }
}
