.videos-menu {
  margin-top: 28px;
  display: flex;
  align-items: center;
  padding-left: 36px;
}

.btn {
  display: block;
  opacity: 1;
  color: rgba(255, 255, 255, 1);
  font-family: proxima-nova, sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #33333a;
  border: 1px solid transparent;
  padding: 10px 5px;
  text-align: center;
  margin: 30px auto;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-color: #fff;
  color: #33333a;
  border: 1px solid #33333a;
}

.btn-show-more {
  padding: 10px 14.4px;
}
