* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 80vh;
  background-image: url('../../../public/assets/images/header.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

header.main {
  justify-content: flex-end !important;
}

header.centered {
  justify-content: center;
}

@font-face {
  font-family: 'VL NewParis Headline Regular';
  font-style: normal;
  font-weight: normal;
  src: local('VL NewParis Headline Regular'),
    url('../../../public/assets/fonts/VL_NewParis\ Headline\ Regular.woff') format('woff');
}

.header-content {
  margin-right: 7rem;
  margin-bottom: 2rem;
}

.header-content.centered {
  margin-right: 0;
  margin-bottom: 0;
}
